<div class="container">
    <table cellspacing='0'>
        <thead>
            <tr>
                <th colspan=3>
                    <div [style.font-size.em]='2'>Mascotas</div>
                </th>
            </tr>
            <tr>
                <th>Imagen</th>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <!-- ngFor en el click del renglon se ejecuta un metodo, se le pasa la mascota actual -->
            <tr *ngFor="let mascota of mascotas">
                <td><img src="{{mascota?.imageBlob?.image}}" style="width: 60px; height: 60px"></td>
                <td>{{mascota.name}}</td>
                <td>{{mascota.description}}</td>
                <td class="text">
                    <img src="/assets/like.png" name="like"  />
                    <strong style=" padding-top: 5px;">{{mascota.cantidadLike}}</strong> 
                    <form #g="ngForm" id={{mascota._id}} novalidate>
                        <div class="col-sm-2"> </div>
                       
                        <div class="clearfix"></div>
                        <div class="col-sm-100"></div>
                        <div class="col-sm-5 text-right">
                            <button class="btn btn-success" (click)="guardarLike(mascota)"  [disabled]="g.invalid">Dar Like!</button>
                            <div *ngIf="mascota.alerta">
                                <br>
                            </div>
                        </div>
                    </form>
                </td>
                <td>
                    <div *ngIf="!mascota.showLikes">
                        <span > 
                            <i class="btn" style="cursor:pointer; color:rgb(16, 96, 175); font-size: 14px" aria-hidden="true" (click)="showLike(mascota)">Mostrar Like</i>
                        </span>
                    </div>
                    <div *ngIf="mascota.showLikes">
                        <span > 
                            <i class="btn"  style="cursor:pointer; color: green" aria-hidden="true" (click)="hidenLike(mascota)">Ocular Likes</i>
                        </span>
                        <br>
                    </div>
                </td>
                <td>
                    <div *ngIf="mascota.showLikes">
                        <h1> Likes de {{mascota.name}}</h1>
                        <h2>{{mascota.encadenarLike}}</h2>
                        <h2>{{mascota.cantidadLike}}</h2>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <button class="btn btn-default" [routerLink]="['/muro-usuario']">Volver</button>
</div>